:root {
  --background: #f5efff;
  --main-font: #2c514c;
  --menu-font: #6e69fd;
  --section-font: #87b37a;
  --add-new-btn: #e54b4b;
}
html {
  font-size: 10px;
  font-family: lato, sans-serif;
}
body {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 300px,
      #abced4 300px,
      #abced4 301px,
      transparent 301px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
  display: grid;
  grid-template-areas:
    "menu search"
    "menu content";
  grid-template-rows: 200px 1fr;
  grid-template-columns: 300px 1fr;
}
.main-font {
  color: var(--main-font);
}
.drawn-border {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}
#corner-right-img {
  height: 250px;
  position: absolute;
  transform: rotate(230deg);
  right: -10px;
  top: -10px;
  z-index: -1;
}
.menu {
  grid-area: menu;
  width: 300px;
  height: 100vh;
  position: fixed;
  display: grid;
  grid-template-rows: 200px auto 300px;
}
#logo {
  place-self: center;
  position: relative;
}
#logo-left-ear {
  position: absolute;
  height: 50px;
  margin-left: -60px;
}
#logo-right-ear {
  position: absolute;
  height: 40px;
  margin-left: 125px;
  margin-top: 45px;
}
.title {
  font-family: "shadows into light", serif;
  font-size: 3rem;
}
.menu ul {
  width: 60%;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}
.menu ul li:first-child {
  margin-top: 0px;
}
.menu ul li {
  text-align: center;
  cursor: pointer;
  margin: 15px 0;
  padding: 15px 0;
  font-weight: 500;
  font-size: 2rem;
  opacity: 0.5;
  color: var(--main-font);
}
.menu ul li.active {
  opacity: 1;
  border-bottom: 1px solid var(--main-font);
  border-bottom-right-radius: 50px 5px;
  border-bottom-left-radius: 50px 5px;
}
#menu-illus {
  height: 300px;
  width: 300px;
  margin-top: 30px;
  margin-left: -17px;
}
#search {
  position: absolute;
  top: 80px;
  justify-self: center;
  display: grid;
  background-color: white;
  width: 70%;
  max-width: 500px;
  height: 40px;
  margin: 0 auto;
  border: 2px solid var(--main-font);
}
#search:hover {
  box-shadow: 2px 2px var(--main-font);
}
#search input {
  display: block;
  width: 90%;
  border: none;
  padding: 0;
  top: 0;
  justify-self: center;
}
#search:hover input {
  box-shadow: none;
}
.content {
  grid-area: content;
  margin-left: 150px;
}
.section {
  margin-bottom: 30px;
}
.section-header {
  display: flex;
  align-items: center;
  width: 70%;
  border-bottom-right-radius: 100px 5px;
  border-bottom-left-radius: 100px 5px;
  border-bottom: 2px solid var(--main-font);
}
.section-title {
  color: var(--main-font);
  font-size: 2.5rem;
  margin-top: 8px;
}
.add-new-btn {
  height: 22px;
  width: 20px;
  line-height: 20px;
  margin: -8px 0 0 1rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: var(--add-new-btn);
  display: flex;
  align-items: center;
  transition: width 0.4s ease-in;
  box-sizing: border-box;
}
.plus-sym {
  font-weight: 900;
  font-size: 2rem;
  margin-left: 4px;
}
.add-new-btn-text {
  position: absolute;
  opacity: 0;
  font-size: 1.4rem;
  margin-left: 21px;
  pointer-events: none;
}
.add-new-btn:hover {
  width: 115px;
  text-align: left;
}
.add-new-btn-text span {
  opacity: 0;
  transition: all 0.1s ease-out;
}
.add-new-btn-text span.fade-in {
  opacity: 1;
}
.book-display {
  height: 200px;
  width: 150px;
  color: #333333;
  border: 2px solid var(--main-font);
}
.book-display-title {
  font-size: 2rem;
  padding-left: 5px;
}
.book-display-author {
  font-size: 1.6rem;
}
.modal {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-sequence {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  grid-template-rows: 1fr 1fr 1fr;
  border: 3px solid var(--main-font);
  box-shadow: 2px 2px var(--main-font);
}
.form-container input[type="text"],
input[type="number"] {
  box-sizing: border-box;
  padding: 10px;
  height: 3.2rem;
  border: 1px solid #cdc7c2;
  border-radius: 0.3em;
  width: 100%;
}
.form-container input[type="text"]:focus,
input[type="number"]:focus {
  border: 2px solid #61a7e8;
}
.form-container input.invalid {
  border: 2px solid #e54b4b;
}
.book-form-title {
  margin-top: 0;
  font-family: "shadows into light", sans-serif;
  font-size: 2.5rem;
  color: var(--main-font);
}
#first-modal {
  height: 290px;
  width: 300px;
}
#second-modal {
  height: 370px;
  width: 270px;
}
#third-modal {
  height: 470px;
  width: 600px;
}
.form-container {
  display: grid;
  place-items: center;
}
.form-container div {
  margin-bottom: 10px;
}
.back-modal,
.next-modal {
  display: inline-block;
  border: none;
  height: 2.5rem;
  width: 6rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 15px;
}
.next-modal {
  color: white;
  background-color: var(--add-new-btn);
}
.back-modal {
  color: #87b37a;
  border: 2px solid #87b37a;
  margin-right: 10px;
}
.next-modal:hover,
.back-modal:hover {
  animation: btn-shake 0.2s infinite;
}
@keyframes btn-shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

label {
  font-size: 1.6rem;
  font-family: lato, sans-serif;
  display: block;
  color: var(--main-font);
  margin-bottom: 5px;
}
.modal-sequence {
  display: none;
}
.active-modal {
  display: flex;
}
div.read-radio-btns {
  margin-bottom: 10px;
}
.radio-container {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 15px;
  margin-bottom: 10px;
}
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.radio-container:hover input ~ .checkmark {
  opacity: 1;
}
.read-radio-btns .radio-container input:checked ~ .checkmark {
  opacity: 1;
  transform: scale(1.3);
  filter: brightness(1.1);
}
#green-light,
#yellow-light {
  top: 6px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
#green-light {
  background-color: #59e959;
}
#yellow-light {
  background-color: tomato;
}
#star,
#check {
  left: -2px;
  font-size: 1.2rem;
  top: 4px;
}
#star {
  color: gold;
}
#check {
  color: #15e38a;
}
#book-pages {
  -moz-appearance: textfield;
  width: 30%;
  margin-bottom: 15px;
}
#book-pages::-webkit-outer-spin-button,
#book-pages::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#third-modal .form-container {
  grid-template-areas:
    "title title"
    "cover-color accent-color"
    "submit submit";
  width: 450px;
}
#third-modal h3 {
  grid-area: title;
}
#third-modal .btn-container {
  grid-area: submit;
}
#third-modal input[type="button"] {
  width: 80px;
  height: 35px;
  margin-top: 0;
}
#cover-color {
  grid-area: cover-color;
}
#accent-color {
  grid-area: accent-color;
}
#accent-color .radio-container,
#cover-color .radio-container {
  margin-bottom: 30px;
}
#accent-color .checkmark,
#cover-color .checkmark {
  opacity: 1;
}
#third-modal .radio-container:hover input ~ .checkmark {
  transform: scale(1.2);
}
#third-modal .radio-container input:checked ~ .checkmark {
  transform: scale(1.3);
}
#third-modal p {
  font-size: 1.6rem;
  margin-left: -20px;
  margin-bottom: 30px;
  color: var(--main-font);
}
.sample-color {
  top: -3px;
  left: -25px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
}
#orange-yellow-crayola {
  background-color: #f0ce7f;
}
#magnolia {
  background-color: #f5efff;
  border: 1px dotted gray;
}
#dark-sea-green {
  background-color: #96bc8a;
}
#maximum-blue-purple {
  background-color: #b1affe;
}
#opal {
  background-color: #afd4cf;
}
@media screen and (max-width: 1297px) {
  #search {
    position: relative;
    grid-area: search;
    justify-self: start;
    margin-left: 100px;
    display: grid;
    place-items: center;
  }
  #search input {
    justify-self: start;
  }
}
