:root {
  --background: #f5efff;
  --main-font: #2c514c;
  --menu-font: #6e69fd;
  --section-font: #87b37a;
  --add-new-btn: #e54b4b;
}
html {
  font-size: 10px;
  font-family: lato, sans-serif;
}
body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 300px,
      #ffaa9f 300px,
      #ffaa9f 301px,
      transparent 301px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
  display: grid;
  grid-template-areas:
    "menu search end"
    "menu content end";
  grid-template-rows: 20rem 1fr;
  grid-template-columns: 30rem 1fr 20rem;
}
p {
  font-size: 1.6rem;
}
.paper-top {
  background-color: white;
  background-image: linear-gradient(
    90deg,
    transparent 300px,
    #ffaa9f 300px,
    #ffaa9f 301px,
    transparent 301px
  );
  width: 100%;
  height: 192px;
  position: absolute;
  border-bottom: 1px solid #abced4;
  z-index: -2;
}
.paper-end {
  width: 1px;
  height: 100vh;
  position: fixed;
  background-color: #abced4;
  right: 20rem;
  z-index: -2;
}
.main-font {
  color: var(--main-font);
}
.drawn-border {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}
#corner-right-img {
  height: 250px;
  position: fixed;
  transform: rotate(230deg);
  right: -10px;
  top: -10px;
  z-index: -1;
}
#message {
  padding: 1rem 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15rem;
  z-index: 2;
  background-color: white;
  font-size: 1.6rem;
  font-weight: bold;
}
#message.error {
  color: var(--add-new-btn);
  border: 2px solid var(--add-new-btn);
  box-shadow: 2px 2px var(--add-new-btn);
}
#message.error:before {
  font-family: "Font Awesome 5 Free";
  content:"\f00d";
  margin-right: 1rem;
}
#message.success {
  color: var(--section-font);
  border: 2px solid var(--section-font);
  box-shadow: 2px 2px var(--section-font);
}
#message.success:before {
  font-family: "Font Awesome 5 Free";
  content:"\f00c";
  margin-right: 1rem;
}
.menu {
  grid-area: menu;
  width: 300px;
  height: 100vh;
  position: fixed;
  display: grid;
  grid-template-rows: 200px auto auto 300px;
}
#logo {
  place-self: center;
  position: relative;
}
#logo-left-ear {
  position: absolute;
  height: 50px;
  margin-left: -60px;
}
#logo-right-ear {
  position: absolute;
  height: 40px;
  margin-left: 125px;
  margin-top: 45px;
}
.title {
  font-family: "shadows into light", serif;
  font-size: 3rem;
}
.menu ul {
  width: 60%;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  margin-top: 2.2rem;
}
.menu ul li:first-child {
  margin-top: 0px;
}
.menu ul li {
  text-align: center;
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 1rem 0;
  font-weight: 500;
  font-family: "shadows into light", sans-serif;
  font-size: 2.2rem;
  opacity: 0.5;
  color: var(--main-font);
}
.menu ul li.active-menu {
  opacity: 1;
  border-bottom: 1px solid var(--main-font);
  border-bottom-right-radius: 50px 5px;
  border-bottom-left-radius: 50px 5px;
}
.sign-in-btn {
  justify-self: center;
  background-color: transparent;
  color: var(--add-new-btn);
  border: 2px solid var(--add-new-btn);
  width: 10rem !important;
  height: 4rem !important;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 2rem;
  cursor: pointer;
  box-shadow: 2px 2px var(--add-new-btn);
}
.signing-in {
  opacity: 0.5;
  cursor: default;
  width:13rem !important;
}
form[name=signin] div:nth-of-type(2),
form[name=signup] div {
  margin-bottom: 1.5rem;;
}
#forgot-password {
  font-size: 1.4rem;
  align-self: start;
  margin-top: 0;
  cursor: pointer;
  text-decoration: underline;
}
#new-account-text {
  margin-bottom: 0;
  margin-top: 3rem;
}
#signin-link {
  color: var(--add-new-btn);
  cursor:pointer;
  font-weight: 700;
}
#or-divider {
     width: 100%; 
   text-align: center; 
   border-bottom: 1px solid var(--main-font); 
   line-height: 0.1em;
   margin: 3.8rem 0;
}
#or-divider span {
  background:var(--background);
  padding: 0 1rem;
}
#google-signin {
  margin-bottom: 1rem;
  cursor: pointer;
}
#google-signin:active {
  filter: brightness(0.8);
}
#menu-illus {
  height: 300px;
  width: 300px;
  margin-top: 30px;
  margin-left: -17px;
}
#search {
  grid-area: search;
  align-self: center;
  justify-self: center;
  display: grid;
  background-color: white;
  width: 70%;
  max-width: 500px;
  height: 40px;
  border: 2px solid var(--main-font);
  transition: 0.1s ease-out;
}
#search:hover {
  box-shadow: 4px 4px var(--main-font);
}
#search input {
  display: block;
  width: 90%;
  border: none;
  padding: 0;
  top: 0;
  outline: none;
  justify-self: center;
}
#search:hover input {
  box-shadow: none;
}
.signed-in {
  grid-area: search;
  position: absolute;
  right: 5rem;
  top: 1rem;
  display:flex;
}
#signout {
  cursor: pointer;
}
.end {
  right: 0;
  width: 20rem;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.sample-book-counter input::-webkit-outer-spin-button,
.sample-book-counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sample-book-counter input[type=number] {
  display: inline-block;
  width: 2.5rem;
  height:2rem;
  padding: 0;
  text-align: center;
  border: none;
  background-color: yellow;
  color: var(--main-font);
  border-radius: 0;
  -moz-appearance: textfield;
}
.sample-book-counter input[type=number]:focus {
  border: none;
}
.end p {
  font-size: 1.5rem;
  color: var(--main-font);
  margin: 0 1.6rem;
  margin-bottom: 2rem;
}
.bulk-btn {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 2rem;
  cursor: pointer;
  align-self: center;
}
.content {
  justify-self: center;
  grid-area: content;
  margin-top: 1rem;
  width: 90%;
  overflow-x: hidden;
}
.section {
  padding: 2rem;
  padding-bottom: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "header header header"
    "l-arrow book-ctn r-arrow";
  grid-template-columns: 7rem 1fr 7rem;
}
.section:last-child {
  padding-bottom: 4rem;
}
.section-header {
  grid-area: header;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 100px 5px;
  border-bottom-left-radius: 100px 5px;
  border-bottom: 2px solid var(--main-font);
}
.section-title {
  color: var(--main-font);
  font-family: "shadows into light", sans-serif;
  font-size: 2.5rem;
  margin-top: 0;
}
.drag-over {
  border: 3px dotted var(--add-new-btn);
}
.add-new-btn {
  height: 22px;
  max-width: 21px;
  width: 115px;
  line-height: 20px;
  margin: -8px 0 0 1rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--add-new-btn);
  border: 2px solid var(--add-new-btn);
  display: flex;
  align-items: center;
  transition: max-width 0.2s ease-out;
  box-shadow: 2px 2px var(--add-new-btn);
  box-sizing: border-box;
  overflow: hidden;
  margin-top: -2rem;
}
.plus-sym {
  font-weight: 900;
  font-size: 2rem;
  margin: 0 3px;
}
.add-new-btn-text {
  white-space: nowrap;
  margin-left: 2px;
  margin-bottom: 2px;
  font-size: 1.4rem;
}
.sign-in-btn:hover,
.bulk-btn:hover,
.add-new-btn:hover {
  max-width: 115px;
  animation: btn-shake 0.2s infinite;
}
.sign-in-btn:active,
.bulk-btn:active,
.yes-btn:active,
.no-btn:active,
.remove-book-btn:active,
.next-modal:active,
.back-modal:active,
.add-new-btn:active {
  box-shadow: none;
}
.arrow-ctn {
  display: flex;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s ease-out;
}
.arrow-ctn:hover {
  opacity: 1;
}
.arrow-ctn.inactive {
    position: relative;
}
.arrow {
  align-self: center;
  height: 3rem;
  width: 3rem;
  border: solid var(--main-font);
  filter: brightness(1.4);
  border-width: 0 0.5rem 0.5rem 0;
  display: inline-block;
  padding: 1.5rem;
  box-sizing: border-box;
  border-bottom-left-radius: 255px 10px;
  position: relative;
}
.right {
  grid-area: r-arrow;
  left: 1.7rem;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  left
}
.left {
  grid-area: l-arrow;
  left: 1rem;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.book-ctn {
  grid-area: book-ctn;
  display: flex;
  align-items: center;
  height: 29rem;
  overflow-x: auto;
  scrollbar-width: none;
}
.nothing-here {
  margin: 0 auto;
  font-family: "shadows into light", sans-serif;
  display: flex;
  align-items: center;
}
.nothing-here p {
  font-size: 2.5rem;
  margin-right: 4rem;
}
.nothing-here img {
  height: 25rem;
}
.book-wrapper {
  position: relative;
  transition: 0.1s ease-out;
  margin-bottom: 0.5rem;
  overflow-y: visible;
}
.inactive {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.section.inactive {
  top: 0;
  left: 0;
}
.active-section {
  grid-template-areas: 
  "header"
  "book-ctn";
  grid-template-columns: 1fr;
}
.active-section .book-ctn {
  flex-wrap: wrap;
  height: 100%;
  padding: 2.5rem 0;
  align-items: start;
}
.active-section .book-wrapper {
  margin: 0 2.5rem 2.5rem 0;
}
.book-display {
  display: grid;
  grid-template-columns: 15rem 15rem;
  margin: 20px;
  max-width: 150px;
  height: 187px;
  width: 300px;
  color: var(--main-font);
  border: 2px solid var(--main-font);
  overflow: hidden;
  position: relative;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.first-page {
  width: 15rem;
  overflow-y: auto;
}
.second-page {
  position: relative;
  width: 15rem;
  height: 187px;
  box-sizing: border-box;
  border-bottom-left-radius: 15px 255px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.book-display-title {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  line-height: 2.3rem;
  width: 10rem;
  margin-left: 1rem;
}
.book-display-author {
  font-size: 1.6rem;
  margin-left: 2.4rem;
  margin-bottom: 2.5rem;
  width: 10rem;
}
.bulk-update-check {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  height: 1.6rem;
  width: 1.6rem;
  border: 2px solid var(--main-font);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.bulk-update-check:checked:before {
  content: "✓";
  position: absolute;
  top: -0.4rem;
  left: 0.1rem;
  right: 0;
  bottom: 0;
  font-size: 1.8rem;
  line-height: 1.6rem;
}
.book-wrapper .remove-book-btn {
  font-size: 1.4rem;
  line-height: 2.3rem;
  position: absolute;
  width: 10rem;
  text-align: center;
  bottom: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.remove-book-btn:hover {
  animation: btn-shake-remove 0.2s infinite;
}
@keyframes btn-shake-remove {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  25% {
    transform: translateX(-50%) rotate(1.5deg);
  }
  50% {
    transform: translateX(-50%) rotate(0deg);
  }
  75% {
    transform: translateX(-50%) rotate(-1.5deg);
  }
  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}
div.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-size: 1.6rem;
  height: 15rem;
  width: 34rem;
}
.pop-up p {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}
.yes-btn {
  margin-left: 1.5rem;
}
.second-page p {
  margin-top: 0;
  margin-bottom: 0.8rem;
}
.book-display-pages {
  margin-top: 2.5rem;
  margin-bottom: 5px;
}
.book-display-accent,
.book-display-cover,
.book-display-pages {
  font-size: 1.4rem;
  margin-left: 1.4rem;
}
.book-display-accent {
  margin-bottom: 3rem;
  margin-top: -0.5rem;
}
.book-display-pages-num {
  font-size: 1.6rem;
  margin-top: 0;
  display: inline-block;
}
.book-display p[contenteditable="true"] span {
  color: var(--main-font);
  background-color: yellow;
}
.book-display .radio-container {
  margin-left: 0.5rem;
  display: inline-block;
}
.book-display .radio-container:first-of-type {
  margin-left: 0.3rem;
}
.book-display #white {
  border: 1px solid #666666;
}
.book-display .sample-color {
  border: 1px solid #666666;
  height: 1.5rem;
  width: 1.5rem;
  top: 0;
  left: 0;
  margin-bottom: 0;
}
.book-display-update {
  max-width: 300px;
  cursor: unset;
}
.modal {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.exit {
  position: absolute;
  font-family: "shadows into light", sans-serif;
  top: 0.8rem;
  right: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5rem;
  border: 2px solid var(--main-font);
  cursor: pointer;
  transition: 0.1s ease-out;
}
.book-wrapper .exit {
  color: var(--main-font);
  top: 0.3rem;
  right: 0.3rem;
}
.exit:hover {
  transform: scale(1.2);
}
.pop-up,
.modal-sequence {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  grid-template-rows: 1fr 1fr 1fr;
  border: 3px solid var(--main-font);
  box-shadow: 10px 10px var(--main-font);
  position: relative;
}
form[name=signin] input[type="text"],
form[name=signin] input[type="password"],
form[name=signup] input[type="text"],
form[name=signup] input[type="password"],
.form-container input[type="text"],
input[type="number"] {
  box-sizing: border-box;
  padding: 10px;
  height: 3.2rem;
  border: 1px solid #cdc7c2;
  border-radius: 0.3em;
  width: 100%;
}
form[name=signin] input[type="text"]:focus,
form[name=signin] input[type="password"]:focus,
form[name=signup] input[type="text"]:focus,
form[name=signup] input[type="password"]:focus,
.form-container input[type="text"]:focus,
input[type="number"]:focus {
  border: 2px solid #61a7e8;
}
form[name=signin] input.invalid,
form[name=signup] input.invalid,
.form-container input.invalid {
  border: 2px solid #e54b4b;
}
form h3 {
  margin-top: 0;
  font-family: "shadows into light", sans-serif;
  font-size: 2.5rem;
  color: var(--main-font);
}
#first-modal {
  height: 300px;
  width: 300px;
}
#second-modal {
  height: 390px;
  width: 270px;
}
#third-modal {
  height: 470px;
  width: 600px;
}
.form-container {
  display: grid;
  place-items: center;
}
.form-container div {
  margin-bottom: 10px;
}
.sign-in-btn,
.no-btn,
.yes-btn,
.remove-book-btn,
.back-modal,
.next-modal {
  display: inline-block;
  height: 2.5rem;
  width: 6rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.1s ease-in;
}
.no-btn,
.remove-book-btn,
.next-modal {
  color: var(--add-new-btn);
  border: 2px solid var(--add-new-btn);
  box-shadow: 2px 2px var(--add-new-btn);
}
.bulk-btn,
.yes-btn,
.back-modal {
  color: #87b37a;
  border: 2px solid #87b37a;
  box-shadow: 2px 2px #87b37a;
  margin-right: 10px;
}
.yes-btn:hover,
.no-btn:hover,
.next-modal:hover,
.back-modal:hover {
  animation: btn-shake 0.2s infinite;
}
@keyframes btn-shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
label {
  font-size: 1.6rem;
  font-family: lato, sans-serif;
  display: block;
  color: var(--main-font);
  margin-bottom: 5px;
}
.modal-sequence {
  display: none;
}
.active-modal {
  display: flex;
}
div.read-radio-btns {
  margin-bottom: 10px;
}
.radio-container {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 15px;
  margin-bottom: 10px;
}
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.radio-container:hover input ~ .checkmark {
  transform: scale(1.2);
}
.read-radio-btns input:checked ~ .checkmark {
  transform: scale(1.2);
}
.read-radio-btns input:checked ~ #green-light {
  background-color: #59e959;
}
.read-radio-btns input:checked ~ #yellow-light {
  background-color: tomato;
}
.read-radio-btns input:checked ~ span i {
  font-weight: 900;
}
#green-light,
#yellow-light {
  top: 6px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-sizing: border-box;
}
#green-light {
  border: 2px solid #59e959;
}
#yellow-light {
  border: 2px solid tomato;
}
#star,
#check {
  left: -2px;
  font-size: 1.2rem;
  top: 4px;
}
#star {
  color: gold;
}
#check {
  color: #15e38a;
}
#book-pages {
  -moz-appearance: textfield;
  width: 30%;
  margin-bottom: 15px;
}
#book-pages::-webkit-outer-spin-button,
#book-pages::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#third-modal .form-container {
  grid-template-areas:
    "title title"
    "cover-color accent-color"
    "submit submit";
  width: 450px;
}
#third-modal h3 {
  grid-area: title;
}
#third-modal .btn-container {
  grid-area: submit;
}
#third-modal input[type="button"] {
  width: 80px;
  height: 35px;
  margin-top: 0;
}
#cover-color {
  grid-area: cover-color;
}
#accent-color {
  grid-area: accent-color;
}
#accent-color .radio-container,
#cover-color .radio-container {
  margin-bottom: 30px;
}
#accent-color .checkmark,
#cover-color .checkmark {
  opacity: 0.8;
}
#accent-color .radio-container:hover input ~ .checkmark,
#cover-color .radio-container:hover input ~ .checkmark {
  opacity: 1;
  transform: scale(1.2);
}
#cover-color .radio-container input:checked ~ .checkmark,
#accent-color .radio-container input:checked ~ .checkmark {
  opacity: 1;
  border: 2px solid #666666;
  box-sizing: border-box;
  transform: scale(1.2);
}
#third-modal p {
  font-size: 1.6rem;
  margin-left: -20px;
  margin-bottom: 30px;
  color: var(--main-font);
}
.sample-color {
  top: -3px;
  left: -25px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
}
#white {
  background-color: #fff;
  border: 2px dotted var(--main-font);
  box-sizing: border-box;
}
#dark-slate-gray {
  background-color: #2c514c;
}
#corn {
  background-color: #fff275;
}
#imperial-red {
  background-color: #e54b4b;
}
#english-red {
  background-color: #a23e48;
}
#mango-tango {
  background-color: #ff8c42;
}
.modal-signup,
.modal-signin,
.modal-bulk {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
form[name=signin],
form[name=signup],
#bulk-update-form {
  margin: auto;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--main-font);
  background-color: var(--background);
  border: 3px solid var(--main-font);
  box-shadow: 10px 10px var(--main-font);
}
form[name="bulk-update"] {
  display: flex;
  flex-direction: column;
}
#bulk-update-form h3 {
  align-self: center;
}
#book-details {
  display: grid;
  grid-template-areas:
    "title-label title-input"
    "author-label author-input"
    "pages-label pages-input";
  grid-template-columns: 11rem 1fr;
  grid-template-rows: repeat(3, 3rem);
  grid-row-gap: 1rem;
  margin-bottom: 1.5rem;
}
#book-details input,
#book-details label {
  align-self: center;
  margin-bottom: 0;
}
#book-details label[name="author"] {
  grid-area: author-label;
}
#book-details label[name="book-title"] {
  grid-area: title-label;
}
#book-details label[name="pages-read"] {
  grid-area: pages-label;
}
#book-details input[name="author"] {
  grid-area: author-input;
}
#book-details input[name="book-title"] {
  grid-area: title-input;
}
#book-details input[name="pages-read"] {
  grid-area: pages-input;
}
#book-status-bulk {
  margin-bottom: 1.5rem;
}
#book-status-bulk .read-radio-btns {
  margin-bottom: 0;
}
#book-status-bulk .radio-container:last-child {
  margin-bottom: 0;
}
.modal-bulk #cover-color,
.modal-bulk #accent-color,
#book-status-bulk {
  display: grid;
  grid-template-areas: "label inputs";
  grid-template-columns: 11rem 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}
.modal-bulk #cover-color p,
.modal-bulk #accent-color p,
#book-status-bulk p {
  grid-area: label;
}
.modal-bulk .radio-ctn-ctn,
#book-status-bulk .read-radio-btns {
  grid-area: inputs;
}
.modal-bulk .radio-ctn-ctn {
  display: flex;
  align-items: center;
}
.radio-ctn-ctn .sample-color {
  top: auto;
  left: 0;
  margin-right: 1.5rem;
}
.radio-ctn-ctn .radio-container {
  margin-right: 2rem;
}
#bulk-update-form input,
#bulk-update-form label {
  display: inline-block;
}
#bulk-update-form .read-radio-btns .radio-container {
  display: block;
}
#submit-bulk {
  width: 8rem;
  height: 3.5rem;
  align-self: center;
}
